<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>智慧交通管理系统 - 首页</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/style/style.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto">智慧交通管理系统</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link" href="/landing_page">首页</a></li>
            <li><a class="nav-link" href="/dashboard">仪表板</a></li>
            <li><a class="nav-link" href="/incident_management">事件管理</a></li>
            <li><a class="nav-link" href="/traffic_analysis">交通分析</a></li>
            <li><a class="nav-link" href="/team">团队</a></li>
            <li><a class="nav-link" href="/contact">联系我们</a></li>
            <li><a class="log-out" href="/logout">退出登录</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          >
            <h1>用人工智能变革交通管理</h1>
            <h2>
              通过AI驱动的智慧交通系统实现主动优化，革新交通管理方式
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started">开始使用</a>
              <a
                href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                class="glightbox btn-watch-video"
                ><i class="bi bi-play-circle"></i
                ><span>新闻与更新</span></a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="static/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
